html, body {
    width: 100%;
    min-height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.body-container {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "left"
    "right";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
}


.left-section {
    grid-area: left;
    width: 90%;
    position: relative;
    left: 10px;
}

.buttons-container {
    background-color: rgb(228, 228, 228);
    width: 100%;
    padding: 15px;
    height: calc(100vh - 10px);
    overflow-y: auto;
    overflow-x: hidden;
}

.add_track_button {
    position: relative;
    width: 100%;
    top: 50px;
    padding: 10px;
    background-color: rgb(56, 56, 56);
    color: white;
    font-size: 24px;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 4px;
}

.fa-plus-circle{
    margin-right: 20px;
 }

.track-container {
    position: relative;
    top: 50%;
    background-color: rgb(182, 181, 181);
    padding: 5px;
    border-bottom:15px solid rgb(228, 228, 228);
    font-size: 14px;
}

#export-dropdown{
    position: relative;
    left: 70%;
    top: 11%;
    display: inline-block;
    border: none;
    background-color: #4d4d4d;
    color: white;
    padding: 5px;
    z-index: 1000;
    width: 100px;
}

#export-dropdown:hover, #export-json-button:hover{
    background-color: rgb(180, 180, 180);
    color: black;
}

.btn-row {
    margin: 10px;
    padding: 5px;
}

#add_canvas{
    padding: 5px;
    font-size: 20px;
    width: 50px;
    margin-top: 5px;
    min-width: 50px;
    position: relative;
    left: 30px;
}

#add_canvas:hover {
    background-color: rgb(56, 56, 56);
    color: white;
}

 .right-section {
    grid-area: right;
    width: 100%;
    position: relative;

}

.bars{
    width: 100%;
    display: flex;
    position: relative;
    gap: 10px;
    
}

#add_view{
    padding: 5px;
    font-size: 20px;
    width: 50px;
    margin-top: 10px;
    height: 50px;
    position: relative;

}

#add_view:hover{
    background-color: rgb(56, 56, 56);
    color: white;
}

.view-btn{
    padding: 15px;
    background-color: none;
    font-size: 15px;
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
    margin-top: 10px;
    position: relative;
    left: 10px;
} 

.canvas-container {
    background-color: rgb(211, 211, 211);
    width: 97%;
    position: relative;
    padding: 20px;
    font-size: 12px;
}

.canvas-button {
    display: inline-block;
    background: none;
    border: none;
    font-size: 20px;
    border-bottom: 3px solid rgb(82, 80, 78);
    box-shadow: none;
    outline: none;
    border-radius: 0;
    text-decoration: none;
    width: 100%;
    transition: opacity 0.7s, color 0.3s, font-weight 0.3s;
    color: rgb(82, 80, 78);
    cursor: pointer;
}

.canvas {
    display: flex;
    width: 100%;
    cursor: pointer;
    min-height: 50px;
    justify-items: center;
    gap: 10px;

}

.canvas_bar .canvas_content {
    display: block;
}

.canvas_bar .canvas_content.hidden {
    display: none;
}
.canvas-button.active, .view-btn.active {
    background-color: #007bff;
    color: white;
}

.canvas-button:not(.active), .view-btn:not(.active) {
    opacity: 0.3;
    font-weight: normal;
}

#canvas2, #canvas3 {
    display: none;
}


.apply-all-button{
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: rgb(63, 63, 63);
    position: relative;
    width: 100%;
    padding: 10px;
    color: white;
} 

#inner-container {
    display: grid;
    grid-template-areas: "left-side right-side";
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}


.canvas_bar {
    cursor: pointer;
    width: 100%;
    position: relative;
    font-size: 18px;
    height: 30px;
}

.canvas_bar::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-20%);
    transform: rotate(90deg);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.success-msg {
    color: green;
    font-size: 12px;
    margin-top: 10px;
}

.view-control{
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;

}


.current-canvas{
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    left: 50%;
}


.plot-container {
   
    position: relative;
    right: 10%;
    z-index: 1;
    margin-top: 60px;
    border: 2px solid transparent;
    left: 50px;
}


#canvas-container-1, #canvas-container-2, #canvas-container-3{
    margin-top: 10px;
}

label {
    font-weight: bold;
}


#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 10, 0.2);
    z-index: 999;
    
}

.hidden {
    display: none !important;
}


@media (min-width: 1250px) {
    .body-container {

        grid-template-areas: 
        "left right"
        ;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }


}

.add_track_button:hover{
    background-color: gray;
    cursor: pointer;
  }
  .view-btn:hover, .canvas-button:hover{
    cursor: pointer;
    background-color: #6bb3ff;
  }